
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.ball {
    background: gray;
    border-radius: 50%;
    border: 3px solid #DDD;
    -webkit-transform: translate3d(0,0,0);
}

.user {
    background: #f6be11;
    position: absolute;
    text-align: center;
    /* padding: 2.5% 0 0 0; */
}

.user2{
  background: navy;
}

.user img {
  width: 60%;
}
