// variables
$primary-colour = #232323
$max-width = 800px

// device media queries
tablet = "(min-width: 768px) and (max-width: 979px)"
phone = "(max-width: 767px)"

@import 'reset'
@import 'misc'
@import 'grid'
@import 'views/view'
@import 'views/composite'
@import 'views/navbar'
@import 'views/composite'

// base view mixins
navbar-view()
view()
composite-view()

body
  overflow: hidden
  row()
  margin: 0 
  background: url('waves.png') repeat
  font-size: 100%
  text-align: center

.app-view
  padding-top: 44px
  @media phone
    padding-top: 0px

.view
  max-width: 100%
  padding: 10px
  padding-top: 44px

nav
  // max-width: $max-width
#arena
  width: 768px
  height: 768px
  position: relative
  margin: 0 auto

.ball
  border-radius: 50%
  position: absolute
  border: 3px solid rgba(0,0,0,0.3)
  z-index: 1000
  width: 50px
  height: 50px

#platform
  margin: 0 auto
  background: #0B0C0D
  position: absolute
  border-radius: 50%
  border: 2px solid #333;
  box-shadow: 0px 0px 30px rgba(0,0,0,0.5)

.king
  border-color: gold

.king:after
  content: ' '
  display: block
  width: 50px
  height: 50px
  background-image: url('crown.svg')
  background-repeat: no-repeat
  background-size: 40px auto
  background-position: 30% 30%


.nextKing
  border-color: silver

#rainbow
  width: 100%
  bottom: 0
  position: absolute
  height: 24px
  background: linear-gradient(left, red, orange, yellow, green, blue, indigo, purple, red)

#title
  color: white
  font-size: 92px
  font-family: 'Vampiro One'
  text-shadow: 0 1px 0 #CCC, 0 2px 0 #C9C9C9, 0 3px 0 #BBB, 0 4px 0 #B9B9B9, 0 5px 0 #AAA, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 20px 20px rgba(0, 0, 0, .15)

